name: numpy

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build_windows_dml:
    runs-on: windows-2022
    timeout-minutes: 120

    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.12', '3.14', '3.14t']

    # continue-on-error: true

    env:
      has_release: true
      tag_name: ""
      release_name: ""
      remote_name: ""
      remote_tag: ""
      move_on: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get latest release info
        shell: bash
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/latest)

          if echo "$response" | grep -q "Not Found"; then
            echo "has_release=false" >> $GITHUB_ENV
          else
            echo "has_release=true" >> $GITHUB_ENV
            echo "tag_name=$(echo "$response" | jq -r .tag_name)" >> $GITHUB_ENV
            echo "release_name=$(echo "$response" | jq -r .name)" >> $GITHUB_ENV
          fi

      - name: Get latest repo release tag
        shell: bash
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/numpy/numpy/releases/latest)

          if echo "$response" | grep -q "Not Found"; then
            echo "move_on=false" >> $GITHUB_ENV
            exit 0
          else
            echo "remote_tag=$(echo "$response" | jq -r .tag_name)" >> $GITHUB_ENV
            echo "remote_name=$(echo "$response" | jq -r .name)" >> $GITHUB_ENV
          fi

      - name: Compare release tags
        shell: bash
        run: |
          echo "Github tag: ${{ env.tag_name }}"
          echo "Remote tag: ${{ env.remote_tag }}"

          if [ "${{ env.tag_name }}" = "${{ env.remote_tag }}" ]; then
            echo "move_on=false" >> $GITHUB_ENV
            exit 0
          else
            echo "⚠️ Tags differ! Compiling new version!"
            echo "tag_name=${{ env.remote_tag }}" >> $GITHUB_ENV
            echo "release_name=${{ env.remote_name }}" >> $GITHUB_ENV
            exit 0
          fi

      - name: Fetch remote code
        if: ${{ env.move_on == 'true' }}
        shell: bash
        run: |
          git remote set-url origin https://github.com/numpy/numpy.git
          git fetch origin tag "${{ env.tag_name }}"
          git checkout tags/"${{ env.tag_name }}" -f

          git submodule init
          git submodule update --recursive

      - name: Setup Python
        if: ${{ env.move_on == 'true' }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Setup NASM
        uses: ilammy/setup-nasm@v1

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Build and install
        shell: cmd
        run: |
          call "%ProgramFiles%\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          python -m pip install --upgrade build Cython meson-python
          python -m build --wheel -v -Ccompile-args="-j4" -Csetup-args="-Dallow-noblas=true"

          7z a -t7z -m0=LZMA2 -mmt=on -mx=3 -md=4m -mfb=32 -ms=1g -mqs=on -sccUTF-8 -mtc=on -mta=on -mhe=on `
            numpy_py${{ matrix.python-version }}.7z `
            dist

      - name: Upload wheel
        if: ${{ env.move_on == 'true' }}
        uses: actions/upload-artifact@v5
        with:
          name: numpy-py${{ matrix.python-version }}
          path: |
            numpy_py${{ matrix.python-version }}.7z

      - name: Create Release
        if: ${{ env.move_on == 'true' }}
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.tag_name }}
          name: ${{ env.release_name }}
          draft: false
          prerelease: false
          files: |
            numpy*.7z
